/*
 * motor controller chip sn754410 requires 2 pwm and 4 gpio pins
 *
 * example overlay for rpi_pico board
 *   pwm1 - gpio 2
 *   pwm2 - gpio 3
 *   in1  - gpio 4
 *   in2  - gpio 5
 *   in3  - gpio 6
 *   in4  - gpio 7
 */

/ {
 
    sn754410: my_motor{
        compatible = "recto,sn754410";
        pwms = <&pwm 2 1000 PWM_POLARITY_NORMAL>, <&pwm 3 1000 PWM_POLARITY_NORMAL>;
        gpios = <&gpio0 4 GPIO_ACTIVE_HIGH>, <&gpio0 5 GPIO_ACTIVE_HIGH>, <&gpio0 6 GPIO_ACTIVE_HIGH>, <&gpio0 7 GPIO_ACTIVE_HIGH>;

        /*zephyr,deferred-init;*/
  
    };
};

/* enable pwm driver and configure pin control */
&pwm {
    status = "okay";
    pinctrl-0 = <&pwm_default>;
    pinctrl-names = "default";
};

/* define pinmux for group for pwms */
&pinctrl {
    pwm_default: pwm_default{
        group1 {
            pinmux = <PWM_1A_P2>, <PWM_1B_P3>;
        };
    };
};

